@import url('https://fonts.googleapis.com/css?family=Sintony');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700');
h1,h2,h3,h4,h5,h6{
  font-family: 'Playfair Display', serif;
}
p{
  font-family: 'Sintony', sans-serif;
}
.navbar-nav>li:not(:last-child){
  padding-top: 13px;
  font-weight: bold;
  color: #2c465a;
}
.header-button{
  background-color: #fea100;
  border-radius: 4px;
  border: 4px;
  width: 199px;
  height: 48px;
}
.inner{
background: url("../image/header/button/inner-line.png");
width: 193px;
height: 41px;
position: absolute;
margin-top: 3px;
margin-left: 3px;
}
.inner-plate{
  position: absolute;
  width: 21px;
  height: 17px;
  background: url("../image/header/button/icon-plate.png");
  margin-top: 12px;
  margin-left: 17px;
}
.inner p{
  color:#fff;
  text-transform: uppercase;
  font-weight: bold;
  float: right;
  font-family: 'Sintony', sans-serif;
  margin-right: 18px;
  margin-top:11px;
  font-size: 14px;
}
.navbar{
  margin-bottom: 0px;
}
.collapse ul li{
  margin-left: 7px;
}
@media (max-width: 768px){
  .logo-img{
    margin-top: -10px;
  }
}
.row{
  margin: 0px;
}
.carousel-indicators{
top: 240px;
width: 15px;
height: 50px;
left: 32%;
background-color: transparent;
}
.carousel-indicators .active{
  width: 14px;
  height: 14px;
  border: 7px #fea100;
  border-style: double;
  background-color: transparent;
}
.carousel-indicators li{
  width: 14px;
  height: 14px;
  border: 7px #fff;
  border-style:  double;
  text-align: center;
  margin: 0px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img{
  height: 570px;
}
.carousel-inner{
  height: 570px;
}
.banner-text div div h1{
  color:#fff;
  font-size: 56px;
  margin-bottom: 0px;

}
.banner-text div div h3 span{
  color:#fea100;
  font-size: 40px;
}
.banner-text div div h3 {
  font-size: 40px;
  margin-top: 0px;
  color: #fff;
}
.banner-text div div div{
  position: absolute;
  bottom: 250px;
}
.food{
position: relative;
bottom: 159px;
}
.bellow-banner{
  background-color: #edf1f3;
}
.bellow-read{
  margin-top: 33px;
  margin-bottom: 33px;
  margin-right: 10px;
}
.bellow-read div{
  display:inline-block;
  width: 88px;
  margin-left: 13px;
}
.bellow-read h4{
  color: #fea100;
  margin-top: -7px;
}
.bellow-read img{
  margin-bottom: 25px;
}
.bellow-call{
  width: 390px;
  margin-top: 33px;
  margin-bottom: 33px;

}
.bellow-call div{
  display: inline-block;
  margin-left: 13px;
}
.bellow-call img{
  margin-bottom: 25px;
}
.bellow-call h4{
  color: #fea100;
  margin-top: -7px;
}
.about-restaurent {
  margin-top: 121px;
  margin-bottom: 40px;
}
.about-restaurent div div p{
  margin-bottom: 0px;
}
.btn-and-img{
  padding-top: 50px;
  cursor: pointer;
  float: left;
  display: block;
  padding-bottom: 120PX;
}

 .btn-and-img p{
  position: relative;
  width: 100px;
  right: 116px;
  color:#fff;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
}
.btn-and-img div{
  position: relative;
float: right;
right:54px;
bottom: 10px;
width: 236px;
height: 71px;
background-color: #7d8587;
}

.sections div{
  width: 250px;
  height: 150px;
  background-color: #7d8587;

}
.section-first{
  float: left;
  margin-top: 50px;
}
.section-first div:nth-child(2){
  margin-top: 10px;
}

.section-second{
  float: right;
}
.section-second div:nth-child(2){
    margin-top: 10px;
}

.img-special{
  height: 440px;
  background-color: #4c5659;
}
.img-special h1{
  position: relative;
  top: 100px;
  color: #fff;
}
.main-block{
  width: 550px;
  height:730px;
  background-color: #7d8587;
  position: relative;
  bottom: 280px;
}
.main-block:first-child{
float: left;
}
.main-block:last-child{
float: right;
}
.main-block-img img{
  height: 420px;
  width: 550px;
  display: block;
}
.white{
  position: relative;
  top: 37px;
  background-color: #fff;
}

.white p{
  background-color: #fff;
  color: #7d8287;
  margin-top: 20px;
  display: block;
  width: 450px;
  margin-left: 65px;
  line-height: 20px;
  margin-bottom: 65px;
}



.main-block h1{
  margin-top: 450px;
}
.white div p{
  background-color: #fff;
  color: #7d8287;
  margin-top: 20px;
  display: block;
  width: 450px;
  margin-left: 65px;
  line-height: 20px;
  margin-bottom: 65px;
}
.white  img:nth-child(2){
  display: block;
  background-color: #fff;

}
.white  h6{
  display: block;
  width: 100px;
  font-size: 13px;
  line-height: 20px;
  margin-top: 20px;
  float: left;
  margin-left: 47px;
}
.white h6 span{
  color: #fe4c8d;
}
.specials{
  height: 500px;
}
.specials-number{
  margin-top: 20px;
  display: inline-block;
  width:250px;
  font-size: 26px;
  margin-left:15px;
}
.specials div img:last-child{

margin-top: 25px;
margin-right: 45px;
  float: right;
  display: block;
}

.shadow   {
  -webkit-box-shadow: 0px 16px 14px -11px rgba(125,133,135,1);
  -moz-box-shadow: 0px 16px 14px -11px rgba(125,133,135,1);
  box-shadow: 0px 16px 14px -11px rgba(125,133,135,1);
 }
 .under-pic{
   display: block;
   width: 311px;
   height: 311px;
   position: relative;
   z-index: -99;
   background: red;
   bottom: 140px;
   left: 360px;
   background-color: #7d8587;
 }
 .white{
   background-color: white;
 }

 .food-menu{
   margin-top: 20px;
   position: relative;

    }
.food-menu-h2{
  position: relative;
  right:265px;
  margin-top: 130px;
  width: 200px;
}
 .tab ul li{
   display: inline-block;
   margin-left: 40px;
}
.tab ul li img{
  width: 24px;
  height: 24px;
}
.tab ul li p {
  margin-top: 15px;
  font-weight:bold;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
}
.food-menu-image{
  width: 267px;
  height: 414px;
  background-color: #7d8587;
  position: absolute;
  float: left;
  top:-40px;
  left: -380px;
}
.food{
  margin-bottom: 100px;
}
.menu-list{
  width: 100%;
  height: 320px;
  margin-top: 35px;
}
.menu-list ul{
  padding-left: 0px;
}
.menu-list ul li{
  display: block;

}
.menu-list ul li div h4{
  font-size: 16px;
  display: inline-block;
  width: 300px;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.menu-list ul li div p{
  display: inline-block;
  width: 300px;
  color: #878d91;
}
.menu-list-pricetag{
  position: relative;
  bottom: 40px;
  width: 100px;
  height: 50px;
  right: 30px;
  float: right;
  color: #fea100;
}
.menu-list-pricetag h2{
  font-size: 26px;

}
.menu-list-pricetag h2 sup{
  font-size: 16px;
}
.menu-list-underline{
  width: 100%;
  height: 1px;
  background-color: #878d91;
  margin-top: 15px;
}
